

.esfera{

margin-left: 50px;
padding-top: 30px;
}



.titulo{

       margin-top: 50px;
       margin-left: 5%;
      

}

.carro{
   width: 700px;
   height: 200px;
}




.teto{

    padding-top: 250x;
    text-align: center;
    width: 500px;
    margin-left: 20%;

}


.linke{

margin-left: 50%;




}


.linke a  {
    text-decoration: none;
     color: grey;



}



.tetogato   {


text-align: center;
margin-left: 20%;
margin-right: 25%;
font-size:xx-large;
}



.texto3{


text-align: center;

margin-left: 20% ;
margin-right: 25%;

}

.gatolaranja{



width: 700px;
margin-left: 30%;
margin-right: 50%;

}


.descrição{
font-weight: bold;
font-size: xx-large;


}

